<% provide(:title, 'Sign up') %>
<h1>Step 1: Basic Info</h1>



<div class="row">
  <div class="span6 offset3">

    <h2>How it works: <br>1. Book a ticket.<br>2. Once you book your ticket, your card number is held on file until the progress bar reaches capacity.<br>3. Spread the word.<br>4. Once the bar reaches capacity, we prepare for the show.  Only then is your account charged.<br>5. Get ready for Kaskade.</h2>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "Password (at least 6 characters)" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :school %>
      <%= f.select :school, [['MIT', 'MIT'], ['Wellesley', 'Wellesley'], ['Harvard', 'Harvard'], ['Boston Univ.', 'Boston Univ.'], ['Northeastern', 'Northeastern'], ['Boston College','Boston College'], ['Other', 'Other']] %>

      <%= f.label :excite, "Tell us how excited you are (max. 70 characters)" %>
      <%= f.text_field :excite %>

      <%= f.submit "Next Step", class: "btn btn-large btn-primary btn-custom-darken" %>
    <% end %>
  </div>
</div>