<% provide(:title, 'Credit Card') %>
<%= form_tag swiped_path do %>
<h1>Step 2: Payment Commitment<h1>
<h2>By submitting your credit card information, you are accepting the one-time charge of $<%= ticket_price %>.00 per ticket if the concert occurs.</h2>
  <article align=center>
    <label class="amount">
      <span>Single Ticket Price: $<%= ticket_price %>.00</span>
    </label>
  </article>
<div id="ticketChoiceBox">
<h3>How many tickets?</h3>


<select id="tix_number">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select></div>


<script src="https://checkout.stripe.com/v2/checkout.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>

<article align=center>
<button class="btn btn-large btn-primary" id="customButton">Purchase</button>
</article>


<script>
$('#customButton').click(function(){
  var token = function(res){
    var $input = $('<input type=hidden name=stripeToken />').val(res.id);
    $('form').append($input).submit();
  };

  var tix = $('#tix_number').val();


  StripeCheckout.open({
    key:         "<%= Rails.configuration.stripe[:publishable_key]%>",
    address:     true,
    amount:      <%= ticket_price*100 %> * tix,
    name:        'Kaskade to Boston',
    description: tix + ' ticket(s)',
    panelLabel:  'Checkout',
    token:       token
  });

  return false;
});
</script>

<% end %>